<div class="main-wrapper">
  <img class="logo" src="./assets/logo.png" alt="logo">
  <div class="login-section">
    <div class="card">
      <div class="wrapper-title">
        <p class="login-title">Blade's Warehouse</p>
        <p class="login-title">Manager</p>
      </div>
      <form class="login" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="wrapper-input">
          <input placeholder="Username" type="text" formControlName="email">
          <i class="material-icons">alternate_email_outline</i>
        </div>
        <div class="wrapper-input password">
          <input placeholder="Password" type="password" formControlName="password">
          <i class="material-icons">lock_outline</i>
        </div>
        <p class="error-message" *ngIf="logginError">Login or Password are incorrect</p>
        <button type="submit">Sign in</button>
      </form>
    </div>
  </div>
  <div class="banner-section">
    <img src="./assets/login-bg.jpg" alt="background login">
  </div>
  <div class="wrapper-creation-user"> 
    <button class="user-creation" (click)="createUser()">Creation user for the test</button>
    <p class="message" [ngStyle]="{'color': creationUserMessage.color }">{{ creationUserMessage.message }}</p>
  </div>
  <div class="wrapper-setup-database">
    <button class="database-creation" (click)="createDatabase()">Creation database for the test</button>
    <p class="message" [ngStyle]="{'color': creationDatabaseMessage.color }">{{ creationDatabaseMessage.message }}</p>
  </div>
</div>
